<!DOCTYPE html>
<html lang="pt- BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='REGIOES/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/CPV Logo (Completa).png') }}" type ="image/x-icon">
    <title>REGIÕES</title>
</head>
    <body>
        <input type="checkbox" id="visto">
        <label for="visto">
            <img src="../assets/image/image.png" alt="">
        </label>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">CURSOS</a></li>
                <li><a href="#">TURNOS</a></li>
                <li><a href="#">TURMAS</a></li>
                <li><a href="#">JANELA MODAL</a></li>
            </ul>
        </nav>

        <h1>Ranking das Top 10 Empresas Parceiras</h1>
        <!-- Divs para exibir os totais -->
        <div class="totals-container">
            <div class="total-box">
                <h3>TOTAL MENSALIDADE</h3>
                <p>{{ total_mensalidade }}</p>
            </div>
            <div class="total-box">
                <h3>TOTAL LTV</h3>
                <p>{{ total_ltv }}</p>
            </div>
        </div>

        <!-- Tabela de ranking -->
        <table>
            <thead>
                <tr>
                    <th>RANK</th>
                    <th>NOME</th>
                    <th>CIDADE</th>
                    <th>REGIÃO</th>
                    <th>MENSALIDADE</th>
                    <th>LTV</th>
                    <th>QTV</th>
                </tr>
            </thead>
            <tbody>
                {% for clientes in ranking_clientes %}
                <tr>
                    <td>{{ clientes.regiao }}</td>
                    <td>{{ clientes.mensalidade }}</td>
                    <td>{{ clientes.life_time_value }}</td>
                    <td>{{ clientes.total_vendas }}</td>
                </tr>
             {% endfor %}

            </tbody>
        </table>

        <!-- Div para exibir a Quantidade de Clientes Ativos -->
        <div>
            <strong>Número de Clientes Ativos: {{ clientes_ativos }}</strong>
        </div>
    </body>
</html>