* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
 }
 
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #45354A;
 }
 
 .password-recovery-container {
     background-color: #804991;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 10px 10px 10px 10px black;
     max-width: 400px;
     width: 100%;
     text-align: center;
 }
 
 h2 {
     margin-bottom: 20px;
     color: white;
 }
 
 p {
     font-size: 1.3em;
     color: white;
     margin-bottom: 20px;
 }
 
 .input-container {
     margin-bottom: 20px;
     text-align: left;
     color: white;
 }
 
 .input-container label {
     display: block;
     margin-bottom: 5px;
     color: white;
     font-weight: bold;
     font-size: 1.3em;
 }
 
 .input-container input {
     width: 100%;
     padding: 10px;
     border: 1px solid black;
     border-radius: 5px;
     font-size: 1em;
     background-color: #804991;
     color: white;
 }

 .input-container input::placeholder {
     color: white;
 }
 
 .input-container input:focus {
     border-color: white;
     outline: none;
 }
 
 .submit-btn {
     width: 50%;
     padding: 12px;
     background-color: #a2e627;
     color: white;
     font-size: 1.2em;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-weight: bold;
 }
 
 .submit-btn:hover {
     background-color: #a2e627;
 }

 .submit-btn a{
     text-decoration: none;
     color: white;
 }
 
 .back-to-login {
     margin-top: 20px;
 }
 
 .back-to-login a {
     color: white;
     text-decoration: none;
     font-weight: bold;
 }
 
 .back-to-login a:hover {
     text-decoration: underline;
 }

 .go-to-cadastro {
     margin-top: 20px;
 }
 
 .go-to-cadastro a {
     color: white;
     text-decoration: none;
     font-weight: bold;
 }
 
 .go-to-cadastro a:hover {
     text-decoration: underline;
 }